# Ignore everything by default
*

# Keep these folders and their contents
!src/
!src/**

!public/
!public/**

# Keep necessary root-level files
!.gitignore
!package.json
!package-lock.json
!Dockerfile
!docker-compose.yml
!docker-compose.prod.yml
!nginx.conf
!start-dev.ps1
!start-prod.ps1
